body{
    background: rgb(75,71,71);
    color: white;
}

/* 16px */
.counter__container{
    margin: 100px;
    height: 80px;
}

.btn{
    width: 50px;
    height: 25px;
}

ul{
    margin-left: 4rem;
}

li{
    list-style:none;

}

.input{
    margin-left: 100px;
    color:green;
    height: 20px;
    size:12px;
}
